pytest>=6.2.0
black>=21.5b2
flake8>=3.9.0
mypy>=0.910
jupyter>=1.0.0
ipykernel>=6.29        # Jupyter kernel backend, lets you run notebooks inside JupyterLab
nbstripout>=0.6        # Automatically strip output cells from notebooks before committing
pre-commit>=3.6        # Manage Git hooks like auto-formatting or linting before commit
